Body{
  background: ;
  
}
blockquote{
  color:brown;
}
  .Blue p{
  color:blue;
  text-align: center;
  text-decoration:aquamarine;

 }

.Present{
  color: rgb(1, 28, 28);
  text-decoration: underline;
  
   
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.img1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.img1 h3{
position: absolute;
top: 0;
left: 0;
}
.img2{
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.img2 h3{
position: absolute;
top: 0;
left: 0;
}
.img3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.img3 h3{
position: absolute;
top: 0;
left: 0;
}

.img4{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.img4 h3{
position: absolute;
top: 0;
left: 0;
}



